<h1><%= @recipe.name %></h1>
<p>
  <%= @recipe.ingredients %>
  <%= @recipe.cook_time %>
  <form action="/recipes/<%= @recipe.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input id="delete" type="submit" value="Delete">
  </form>
</p>